# List and Default function

In [1]:
lst = [1,2,3,'Ram',[1,1.0,3.6]]

In [2]:
lst

[1, 2, 3, 'Ram', [1, 1.0, 3.6]]

In [4]:
lst.append(10.6) #append

In [5]:
lst

[1, 2, 3, 'Ram', [1, 1.0, 3.6], 10.6, 10.6]

In [9]:
lst1 = lst.copy() #copy

In [10]:
lst1

[1, 2, 3, 'Ram', [1, 1.0, 3.6], 10.6, 10.6]

In [12]:
lst.count(10.6) #count

2

In [13]:
lst.index("Ram") #index

3

In [14]:
lst.insert(2,"Sai") #insert

In [15]:
lst

[1, 2, 'Sai', 3, 'Ram', [1, 1.0, 3.6], 10.6, 10.6]

In [16]:
lst.pop() #pop

10.6

In [17]:
lst

[1, 2, 'Sai', 3, 'Ram', [1, 1.0, 3.6], 10.6]

In [19]:
lst.remove(10.6) # remove
lst

[1, 2, 'Sai', 3, 'Ram', [1, 1.0, 3.6]]

In [20]:
lst.reverse() #reverse

In [21]:
lst

[[1, 1.0, 3.6], 'Ram', 3, 'Sai', 2, 1]

In [28]:
lst2 = [5,6,9,10,55,76,1] # sort
lst2.sort()
lst2

[1, 5, 6, 9, 10, 55, 76]

In [30]:
lst.extend(lst2) #extend
lst

[[1, 1.0, 3.6], 'Ram', 3, 'Sai', 2, 1, 1, 5, 6, 9, 10, 55, 76]

In [32]:
lst.clear() #clear
lst

[]

# Dictionary and its Default Functions

In [1]:
dit = {'name':'vijay','age':12,'city':'Bangalore','state':'Karnataka'}
dit

{'name': 'vijay', 'age': 12, 'city': 'Bangalore', 'state': 'Karnataka'}

In [2]:
print(dit['name'])

vijay

In [3]:
dit2 ={'name':'varun','age':14,'city':'Madanapallai','state':'Andhra Pradesh'}
dit2
print(dit2['name'])

varun

In [7]:
#length of the dictionary
print ("Length : %d" % len (dit))

Length : 4

In [8]:
#String Method
print ("Equivalent String : %s" % str (dit))

Equivalent String : {'name': 'vijay', 'age': 12, 'city': 'Bangalore', 'state': 'Karnataka'}

In [9]:
#copy method
dit3 = dit2.copy()
print ("New Dictionary : ",dit3)

New Dictionary :  {'name': 'varun', 'age': 14, 'city': 'Madanapallai', 'state': 'Andhra Pradesh'}

In [10]:
#items method
print ("Value : %s" %  dit.items())

Value : dict_items([('name', 'vijay'), ('age', 12), ('city', 'Bangalore'), ('state', 'Karnataka')])

In [11]:
#keys method
print ("Value : %s" %  dit.keys())

Value : dict_keys(['name', 'age', 'city', 'state'])

In [13]:
#values method
print ("Values : ",  dit.values())

Values :  dict_values(['vijay', 12, 'Bangalore', 'Karnataka'])

In [14]:
#clear method
print ("Start Len : %d" %  len(dit))

dit.clear()
print ("End Len : %d" %  len(dit))

Start Len : 4
End Len : 0

# Set and Default function

In [15]:
color_set = {"red", "green", "red", "blue"}
print(color_set)

{'blue', 'red', 'green'}

In [16]:
#length
print(len(color_set))

3

In [18]:
#add single item to a set
color_set.add("white")
color_set

{'blue', 'green', 'red', 'white'}

In [19]:
#add multiple items to a set by using update()
color_set.update(["orange", "yellow", "gray", "red"])
color_set

{'blue', 'gray', 'green', 'orange', 'red', 'white', 'yellow'}

In [23]:
#remove
color_set.remove('green')
print(color_set)

{'orange', 'gray', 'white', 'yellow', 'red'}

In [24]:
#clear 
color_set.clear()
print(color_set)

set()

In [21]:
#unoin
s1 = {"a", "b", "c"}
s2 = {"f", "d", "a"}

result = s1.union(s2)
print(result)

{'a', 'd', 'c', 'f', 'b'}

In [25]:
#intersection
result = s1.intersection(s2)
print(result)

{'a'}

In [26]:
#difference
result = s1.difference(s2)
print(result)

{'c', 'b'}

# Tuple and Default method

In [27]:
tuple1, tuple2 = (123, 'xyz', 'zara'), (456, 'abc')

In [28]:
#length
print ("First tuple length : ", len(tuple1))
print ("Second tuple length : ", len(tuple2))

First tuple length :  3
Second tuple length :  2

In [29]:
#max
tuple1, tuple2 = ('maths', 'che', 'phy', 'bio'), (456, 700, 200)
print ("Max value element : ", max(tuple1))
print ("Max value element : ", max(tuple2))

Max value element :  phy
Max value element :  700

In [30]:
#min
print ("min value element : ", min(tuple1))
print ("min value element : ", min(tuple2))

min value element :  bio
min value element :  200

# Strings and Default Function

In [31]:
str = "this is string example....wow!!!"

In [33]:
#capitalize
print ("The Capitialize String : ", str.capitalize())

The Capitialize String :  This is string example....wow!!!

In [34]:
#isnumeric
number = "5"
letters = "abcdef"

print(number.isnumeric())
print(letters.isnumeric())

True
False

In [35]:
# islower and isUpper
movie = "2001: A SAMMY ODYSSEY"
print(movie.islower())
print(movie.isupper())

False
True

In [36]:
#istitle
book = "A Thousand Splendid Sharks"
print(book.istitle())
print(book.isupper())

True
False

In [37]:
#length
open_source = "Sammy contributes to open source."
print(len(open_source))

33

In [40]:
#split,join,replace
balloon = "Sammy has a balloon."
print(",".join(balloon))
print(balloon.split())
print(balloon.replace("has","had"))

S,a,m,m,y, ,h,a,s, ,a, ,b,a,l,l,o,o,n,.
['Sammy', 'has', 'a', 'balloon.']
Sammy had a balloon.

In [41]:
print(",".join(["sharks", "crustaceans", "plankton"]))

sharks,crustaceans,plankton